:root {
  --primary: #3acbf7;
}
.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: #fff;
  color: #6568f4;
  transition: 250ms;
}
.btn--primary {
  /* background-color: var(--primary); */
  background-color: #3acbf7;
}
.btn-outline {
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  padding: 8px 20px;
  border: 1px solid var(--primary);
  transition: all 0.3s ease-out;
}
.btn--medium {
  border-radius: 4px;
  padding: 8px 20px;
  color: #fff;
  font-size: 18px;
}
.btn--large {
  border-radius: 4px;
  padding: 12px 26px;
  color: #fff;
  font-size: 20px;
}
