.section {
  /* margin: 0; */
  /* padding: 0; */
  /* border: 0; */
  /* width: 100%; */
  height: 300px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  background-color: rgb(218, 231, 231);
  /* width: 200px;  */
}
.space {
  width: 20px;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 4px 12px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(213, 225, 230);
  /* border-radius: 4px; */
  transition: all 0.2s ease-out;
  /* z-index: 1; */
}

/* Add some padding inside the card container */
.container-h {
  padding: 2px 16px;
}
.centre {
  justify-content: center;
  display: flex;
  /* flex-direction: row; */
  /* width: 100%; */
  /* height: 50px; */
  /* position: centre; */
  /* top: 80px; */
  /* left: -100%; */
  /* opacity: 1; */
  transition: all 0.5s ease;
}
.search-bar {
  width: 50%;
  margin-top: 3%;
  margin-left: 12%;
}
* {
  box-sizing: border-box;
}
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  height: 60%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  margin-top: 3%;
  float: left;
  width: 20%;
  height: 60%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}
